body{
  background-color: aqua;
  color: blue;
  margin:0 auto;
  /*font-size: 40px;*/
}

#clock{
  font-size: 5em;
  font-family: sans-serif;
  text-align: center;
  margin-top: 100px;
}


ul {
	 height:100px;
	 width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li i {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

nav  {
	font-size: 50px;

}

i.emph:hover {
  -webkit-animation: fa-spin 2s infinite linear;
  -moz-animation: fa-spin 2s infinite linear;
  -o-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@media only screen and (max-width: 480px) {

	li i {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
	}
		
	i {
		height: 50px;
	}

	nav  {
		
		font-size:80px;

	}





}